<a href="https://colab.research.google.com/github/anushka-code/Coding-Blocks-ML-DL-/blob/main/Fashion_MNIST_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Data Loading & Pre-Processing

In [1]:
import pandas as pd
import numpy as np
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Input, Convolution2D, MaxPooling2D, Flatten, Dense, Dropout
from keras.utils import np_utils

In [2]:
url = 'https://raw.githubusercontent.com/anushka-code/Coding-Blocks-ML-DL-/main/fashion-mnist_test.csv'
df = pd.read_csv(url)

In [3]:
df.head(5)

   label  pixel1  pixel2  pixel3  ...  pixel781  pixel782  pixel783  pixel784
0      0       0       0       0  ...         0         0         0         0
1      1       0       0       0  ...         0         0         0         0
2      2       0       0       0  ...        31         0         0         0
3      2       0       0       0  ...       222        56         0         0
4      3       0       0       0  ...         0         0         0         0

[5 rows x 785 columns]

In [4]:
df.shape

(10000, 785)

In [5]:
from os import XATTR_CREATE
X_ = np.array(df)
Y = X_[:,0]
X = X_[:,1:] 
X = X/255.0 #normalisation
print(X.shape, Y.shape)

(10000, 784) (10000,)

In [6]:
X_train = X.reshape((10000,28,28,1))
Y_train = np_utils.to_categorical(Y) #one hot encoding of the 10 classes in the Y 
print(X_train.shape, Y_train.shape)

#one hot encoding
#there are 10 classes from 0 to 9
#for eg class 7 = [0,0,0,0,0,0,0,1,0,0]

(10000, 28, 28, 1) (10000, 10)

###CNN Model Implementation in Keras

In [17]:
model = Sequential()
model.add(Convolution2D(32,(3,3),activation='relu',input_shape=(28,28,1)))
model.add(Convolution2D(64,(3,3),activation='relu')) 
model.add(Dropout(0.25)) #randomly remove 25% of the neurons
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Convolution2D(32,(5,5),activation='relu'))
model.add(Convolution2D(8,(5,5),activation='relu'))
model.add(Flatten())
model.add(Dense(10,activation='softmax'))
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_21 (Conv2D)          (None, 26, 26, 32)        320

 conv2d_22 (Conv2D)          (None, 24, 24, 64)        18496

 dropout_6 (Dropout)         (None, 24, 24, 64)        0

 max_pooling2d_6 (MaxPooling  (None, 12, 12, 64)       0
 2D)

 conv2d_23 (Conv2D)          (None, 8, 8, 32)          51232

 conv2d_24 (Conv2D)          (None, 4, 4, 8)           6408

 flatten_4 (Flatten)         (None, 128)               0

 dense_4 (Dense)             (None, 10)                1290

=================================================================
Total params: 77,746
Trainable params: 77,746
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.compile(loss="categorical_crossentropy",optimizer="adam",metrics=["accuracy"])

###Training the Model

In [20]:
hist = model.fit(X_train,Y_train,epochs=20,shuffle=True,batch_size=200,validation_split=0.20)

Epoch 1/20
40/40 [==============================] - 32s 776ms/step - loss: 1.4626 - accuracy: 0.4905 - val_loss: 0.8654 - val_accuracy: 0.6985
Epoch 2/20
40/40 [==============================] - 29s 732ms/step - loss: 0.7398 - accuracy: 0.7261 - val_loss: 0.7089 - val_accuracy: 0.7395
Epoch 3/20
40/40 [==============================] - 29s 735ms/step - loss: 0.6234 - accuracy: 0.7724 - val_loss: 0.6330 - val_accuracy: 0.7810
Epoch 4/20
40/40 [==============================] - 30s 746ms/step - loss: 0.5632 - accuracy: 0.7962 - val_loss: 0.5412 - val_accuracy: 0.8175
Epoch 5/20
40/40 [==============================] - 33s 822ms/step - loss: 0.5160 - accuracy: 0.8134 - val_loss: 0.5636 - val_accuracy: 0.8110
Epoch 6/20
40/40 [==============================] - 30s 749ms/step - loss: 0.4717 - accuracy: 0.8301 - val_loss: 0.4823 - val_accuracy: 0.8350
Epoch 7/20
40/40 [==============================] - 30s 742ms/step - loss: 0.4373 - accuracy: 0.8440 - val_loss: 0.4939 - val_accuracy: 0.8270
Epoch 8/20
40/40 [==============================] - 30s 742ms/step - loss: 0.4147 - accuracy: 0.8496 - val_loss: 0.4352 - val_accuracy: 0.8515
Epoch 9/20
40/40 [==============================] - 30s 740ms/step - loss: 0.3846 - accuracy: 0.8618 - val_loss: 0.4317 - val_accuracy: 0.8585
Epoch 10/20
40/40 [==============================] - 29s 738ms/step - loss: 0.3718 - accuracy: 0.8650 - val_loss: 0.4280 - val_accuracy: 0.8505
Epoch 11/20
40/40 [==============================] - 30s 740ms/step - loss: 0.3612 - accuracy: 0.8673 - val_loss: 0.4146 - val_accuracy: 0.8575
Epoch 12/20
40/40 [==============================] - 30s 746ms/step - loss: 0.3387 - accuracy: 0.8775 - val_loss: 0.4023 - val_accuracy: 0.8620
Epoch 13/20
40/40 [==============================] - 30s 745ms/step - loss: 0.3367 - accuracy: 0.8792 - val_loss: 0.3731 - val_accuracy: 0.8835
Epoch 14/20
40/40 [==============================] - 29s 733ms/step - loss: 0.3146 - accuracy: 0.8890 - val_loss: 0.3801 - val_accuracy: 0.8760
Epoch 15/20
40/40 [==============================] - 29s 734ms/step - loss: 0.3076 - accuracy: 0.8898 - val_loss: 0.3657 - val_accuracy: 0.8790
Epoch 16/20
40/40 [==============================] - 29s 737ms/step - loss: 0.2993 - accuracy: 0.8907 - val_loss: 0.3766 - val_accuracy: 0.8700
Epoch 17/20
40/40 [==============================] - 30s 739ms/step - loss: 0.2789 - accuracy: 0.9013 - val_loss: 0.3617 - val_accuracy: 0.8815
Epoch 18/20
40/40 [==============================] - 30s 739ms/step - loss: 0.2758 - accuracy: 0.9000 - val_loss: 0.4020 - val_accuracy: 0.8585
Epoch 19/20
40/40 [==============================] - 30s 742ms/step - loss: 0.2732 - accuracy: 0.8995 - val_loss: 0.3555 - val_accuracy: 0.8755
Epoch 20/20
40/40 [==============================] - 30s 741ms/step - loss: 0.2597 - accuracy: 0.9061 - val_loss: 0.3504 - val_accuracy: 0.8790