<a href="https://colab.research.google.com/github/anushka-code/Coding-Blocks-ML-DL-/blob/main/Part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Pandas**

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import numpy as np
import pandas as pd

In [19]:
user_data = {
    "MarksA" : np.random.randint(1,100,5),
    "MarksB" : np.random.randint(50,100,5),
    "MarksC" : np.random.randint(1,100,5),
}

In [7]:
df = pd.DataFrame(user_data)

In [15]:
df

   MarksA  MarksB  MarksC
0       9      88      17
1      37      62      96
2      14      68      65
3      33      67      34
4      85      64      73

In [9]:
df.head(n=3) # first 3

   MarksA  MarksB  MarksC
0       9      88      17
1      37      62      96
2      14      68      65

In [11]:
df.tail(n=3) # last 3

   MarksA  MarksB  MarksC
2      14      68      65
3      33      67      34
4      85      64      73

In [10]:
df.describe()

          MarksA    MarksB     MarksC
count   5.000000   5.00000   5.000000
mean   35.600000  69.80000  57.000000
std    30.096511  10.44988  31.503968
min     9.000000  62.00000  17.000000
25%    14.000000  64.00000  34.000000
50%    33.000000  67.00000  65.000000
75%    37.000000  68.00000  73.000000
max    85.000000  88.00000  96.000000

Playing with Rows & Columns

In [16]:
df

   MarksA  MarksB  MarksC
0       9      88      17
1      37      62      96
2      14      68      65
3      33      67      34
4      85      64      73

In [12]:
df.iloc[3] #prints details of the third row

MarksA    33
MarksB    67
MarksC    34
Name: 3, dtype: int64

In [13]:
df.iloc[3,1] #3rd row and 1st column

67

In [18]:
df.iloc[:3, [1,2]] #before 3rd row and columns 1 and 2

   MarksB  MarksC
0      88      17
1      62      96
2      68      65